<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevHouse</title>
</head>
<body>
    <h1>Olá, Seja Bem Vindo a DevHouse</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum architecto quo ut obcaecati quos nobis placeat ex quam odit sint, nulla, sequi, magnam unde voluptas! Voluptas molestiae modi harum dignissimos.
    </p>
    <img src="/public/img/destaque.jpg" alt="" />
</body>
</html>